<div class="slideshow-container">
    <ul class="slideshow">
        <li><a href="{{config path="web/secure/base_url"}}accessories/eyewear.html"><img alt="An eye for detail - Click to Shop Eye Wear" src="{{media url="wysiwyg/slide-1.jpg"}}" /></a></li>
        <li><a href="{{config path="web/secure/base_url"}}women.html"><img alt="Style solutions - covet-worthy styles in travel-friendly fabrics - Click to Shop Woman" src="{{media url="wysiwyg/slide-2.jpg"}}" /></a></li>
        <li><a href="{{config path="web/secure/base_url"}}men.html"><img alt="Wing man - hit the runway in stylish separates and casuals - Click to Shop Man" src="{{media url="wysiwyg/slide-3.jpg"}}" /></a></li>
    </ul>
    <div class="slideshow-pager">&nbsp;</div>
    <span class="slideshow-prev">&nbsp;</span> <span class="slideshow-next">&nbsp;</span></div>
<ul class="promos">
    <li><a href="{{config path="> <img alt="Physical &amp; Virtual Gift Cards" src="{{media url="wysiwyg/homepage-three-column-promo-01B.png"}}" /> </a></li>
    <li><a href="{{config path="> <img alt="Shop Private Sales - Members Only" src="{{media url="wysiwyg/homepage-three-column-promo-02.png"}}" /> </a></li>
    <li><a href="{{config path="> <img alt="Travel Gear for Every Occasion" src="{{media url="wysiwyg/homepage-three-column-promo-03.png"}}" /> </a></li>
</ul>
<style type="text/css"><!--
    /* Reset the .std styles */
    .std ul.products-grid li {
        list-style: none;
        margin-left: 0;
    }
    .std ul.products-grid li .product-info {
        padding-bottom: 0 !important;
        min-height: 0 !important;
    }
    .widget-new-products h2 {
        text-align: center;
    }
    --></style>