<form action="<?php echo $this->getFormAction(); ?>" id="contactForm" method="post">
    <div class="slideshow-container">
        <ul class="slideshow">
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/1a.jpg'}}" /></a></li>
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/1b.jpg'}}" /></a></li>
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/1c.jpg'}}" /></a></li>
        </ul>
        <span class="slideshow-prev">&nbsp;</span> <span class="slideshow-next">&nbsp;</span></div>
    <div class="slideshow-container">
        <ul class="slideshow">
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/2a.png'}}" /></a></li>
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/2b.jpg'}}" /></a></li>
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/2c.jpg'}}" /></a></li>
        </ul>
        <span class="slideshow-prev">&nbsp;</span> <span class="slideshow-next">&nbsp;</span></div>
    <div class="slideshow-container1">
        <ul class="slideshow1">
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/3a.jpg'}}" /></a></li>
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/3b.jpg'}}" /></a></li>
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/3c.jpg'}}" /></a></li>
        </ul>
        <span class="slideshow-prev1">&nbsp;</span> <span class="slideshow-next1">&nbsp;</span></div>
    <div class="slideshow-container2">
        <ul class="slideshow2">
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/4a.jpg'}}" /></a></li>
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/4b.jpg'}}" /></a></li>
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/4c.jpg'}}" /></a></li>
        </ul>
        <span class="slideshow-prev2">&nbsp;</span> <span class="slideshow-next2">&nbsp;</span></div>
    <div class="slideshow-container3">
        <ul class="slideshow3">
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/5a.jpg'}}" /></a></li>
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/5b.jpg'}}" /></a></li>
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/5c.jpg'}}" /></a></li>
        </ul>
        <span class="slideshow-prev3">&nbsp;</span> <span class="slideshow-next3">&nbsp;</span></div>
    <div class="slideshow-container4">
        <ul class="slideshow4">
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/6a.jpg'}}" /></a></li>
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/6b.jpg'}}" /></a></li>
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/6c.jpg'}}" /></a></li>
        </ul>
        <span class="slideshow-prev4">&nbsp;</span> <span class="slideshow-next4">&nbsp;</span></div>
    <div class="slideshow-container5">
        <ul class="slideshow5">
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/7a.jpg'}}" /></a></li>
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/7b.jpg'}}" /></a></li>
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/7c.jpg'}}" /></a></li>
        </ul>
        <span class="slideshow-prev5">&nbsp;</span> <span class="slideshow-next5">&nbsp;</span></div>
    <div class="slideshow-container6">
        <ul class="slideshow6">
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/8a.jpg'}}" /></a></li>
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/8b.jpg'}}" /></a></li>
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/8c.jpg'}}" /></a></li>
        </ul>
        <span class="slideshow-prev6">&nbsp;</span> <span class="slideshow-next6">&nbsp;</span></div>
    <div class="slideshow-container7">
        <ul class="slideshow7">
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/9a.jpg'}}" /></a></li>
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/9b.jpg'}}" /></a></li>
            <li><a href="linkhere"><img alt="" src="{{media url='homepage_banner/9c.jpg'}}" /></a></li>
        </ul>
        <span class="slideshow-prev7">&nbsp;</span> <span class="slideshow-next7">&nbsp;</span></div>
</form>

<script>
    
</script>

