<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
<div class="page-title">
    <h1>Contact Us</h1>
</div>
<form action="<?php echo $this->getFormAction(); ?>" id="contactForm" method="post">
    <div class="fieldset">
        <ul class="form-list">
            <li class="fields">
                <div class="field">
                    <label for="name" class="required"><em>*</em>Name</label>
                    <div class="input-box">
                        <input name="name" id="name" title='Name'
                               value="<?php if (Mage::getSingleton('customer/session')->isLoggedIn()) echo $this->escapeHtml($this->helper('feedback')->getUserName()); else echo $this->escapeHtml(Mage::getSingleton('customer/session')->getFeedbackData()['name']); ?>"
                               class="input-text required-entry" type="text"/>
                    </div>
                </div>
            </li>
            <li class="fields">
                <div class="field">
                    <label for="email" class="required"><em>*</em>Email</label>
                    <div class="input-box">
                        <input name="email" id="email" title='Email'
                               value="<?php if (Mage::getSingleton('customer/session')->isLoggedIn()) echo $this->escapeHtml($this->helper('feedback')->getUserEmail()); else echo $this->escapeHtml(Mage::getSingleton('customer/session')->getFeedbackData()['email']); ?>"
                               class="input-text required-entry validate-email" type="text"/>
                    </div>
                </div>
            </li>
            <li>
                <label for="phone">Telephone</label>
                <div class="input-box">
                    <input placeholder="for example 095xxxxxxx" type="tel" name="phone" id="phone" title="Telephone"
                           value="<?php if (Mage::getSingleton('customer/session')->isLoggedIn()) echo Mage::getSingleton('customer/session')->getFeedbackData()['phone']; else echo $this->escapeHtml(Mage::getSingleton('customer/session')->getFeedbackData()['phone']); ?>"
                           class="input-text" pattern="[0-9]{10}">
                </div>
            </li>
            <li>
                <div class="fieldset">
                    <label for="subject" class="required"><em>*</em>Subject</label>
                    <p>
                        <select id="subject" name="subject" onChange="Selected(this)">
                            <option value="General Question" <?php echo Mage::getSingleton('customer/session')->getFeedbackData()['subject'] == "General Question" ? 'selected="selected"' : '';?>>General Question</option>
                            <option value="Submission Issues" <?php echo Mage::getSingleton('customer/session')->getFeedbackData()['subject'] == "Submission Issues" ? 'selected="selected"' : '';?>>Submission Issues</option>
                            <option value="Issue whith Refunds" <?php echo Mage::getSingleton('customer/session')->getFeedbackData()['subject'] == "Issue whith Refunds" ? 'selected="selected"' : '';?>>Issue whith Refunds</option>
                            <option value="Issue whith Purchasing" <?php echo Mage::getSingleton('customer/session')->getFeedbackData()['subject'] == "Issue whith Purchasing" ? 'selected="selected"' : '';?>>Issue whith Purchasing</option>
                            <option value="Other" <?php echo Mage::getSingleton('customer/session')->getFeedbackData()['subject'] == "Other" ? 'selected="selected"' : '';?>>Other</option>
                        </select>
                    </p>
                </div>
            </li>
            <li>
                <label for="other_subject" style="display: none" id="label-other-subject">Othet Subject</label>
                <div class="input-box">
                    <input name="other_subject"  id="other_subject" value="<?php echo $this->escapeHtml(Mage::getSingleton('customer/session')->getFeedbackData()['other_subject']); ?>" class="input-text" type="text" style="display: none">
                </div>
            </li>
            <li class="wide">
                <label for="message" class="required"><em>*</em>Message</label>
                <div class="input-box">
                    <textarea name="message" id="message" title='Message' class="required-entry input-text" cols="5" rows="3"><?php echo $this->escapeHtml(Mage::getSingleton('customer/session')->getFeedbackData()['message']); ?></textarea>
                </div>
            </li>
            <li>
                <?php echo $this->getChildHtml('form.additional.info'); ?>
            </li>
        </ul>
    </div>
    <div class="buttons-set">
        <input type="text" name="hideit" id="hideit" value="" style="display:none">
        <button type="submit" title='Submit' class="button"><span><span><?php echo 'Submit' ?></span></span></button>
    </div>

</form>
<script type="text/javascript">
    var contactForm = new VarienForm('contactForm', true);
</script>
<script>
    function Selected(a) {
        var label = a.value;
        if (label == "Other") {
            document.getElementById("other_subject").style.display = "block";
            document.getElementById("label-other-subject").style.display = "block";
        }
        else if (label == "General Question") {
            document.getElementById("other_subject").style.display = "none";
            document.getElementById("label-other-subject").style.display = "none"
        }
        else if (label == "Submission Issues") {
            document.getElementById("other_subject").style.display = "none";
            document.getElementById("label-other-subject").style.display = "none";
        }
        else if (label == "Issue whith Refunds") {
            document.getElementById("other_subject").style.display = "none";
            document.getElementById("label-other-subject").style.display = "none";
        }
        else if (label == "Issue whith Purchasing") {
            document.getElementById("other_subject").style.display = "none";
            document.getElementById("label-other-subject").style.display = "none";
        }
    }
</script>